# Datasets (too heavy)
data/*
!data/.gitkeep
!data/detection/.gitkeep
!data/recommendation/.gitkeep

# Libs
toolbox/*
!toolbox/.gitkeep

# Matlab
*.m~

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk

# Generated report (but do not ignore figures)
report/*.pdf
